.noteful {
    display: flex;
    flex-direction: row;
    
}
.container {
    display: flex;
    flex-direction: column;
}
nav {
    padding-right: 10px
}
h1 {
    text-align: center;
}
.note-sidebar {
    writing-mode: vertical-rl;
    text-orientation: upright;
}